<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h4>Véradás űrlap</h4>
        <hr>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form [formGroup]="bloodDonationForm">
            <div class="mb-3">
                <label for="location" class="form-label">Helyszín</label>
                <select name="location" id="location" class="form-select" formControlName="location">
                    <ng-container *ngFor="let locationOption of locations">
                        <option *ngIf="locationOption.isActive === true" [ngValue]="{ id: locationOption.id }"
                            [ngValue]="{ isActive: locationOption.isActive }">
                            {{ locationOption.institutionName }}
                        </option>
                    </ng-container>

                </select>
            </div>
            <div class="mb-3">
                <label for="bloodDonor" class="form-label">Véradó</label>
                <select name="bloodDonor" id="bloodDonor" class="form-select" formControlName="bloodDonor">
                    <option *ngFor="let bloodDonorOption of bloodDonors" [ngValue]="{ id: bloodDonorOption.id }">
                        {{ bloodDonorOption.name }} | {{ bloodDonorOption.TAJnumber }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="dateOfBloodDonation" class="form-label">Véradás dátuma</label>
                <input type="date" class="form-control" id="dateOfBloodDonation" name="dateOfBloodDonation"
                    formControlName="dateOfBloodDonation">
            </div>
            <div class="mb-3">
                <label for="isSuitable" class="form-label">Alkalmas véradásra?</label>
                <select name="isSuitable" id="isSuitable" class="form-select" formControlName="isSuitable"
                    [(ngModel)]="inputIsSuitable">
                    <option value="igen">Igen</option>
                    <option value="nem">Nem</option>
                </select>
                <div class="mb-3" *ngIf="inputIsSuitable === 'nem'">
                    <label for="whyNotSuitable">Miért nem alkalmas?</label>
                    <input type="text" class="form-control" id="whyNotSuitable" name="whyNotSuitable"
                        formControlName="whyNotSuitable">
                </div>
            </div>
            <div class="mb-3">
                <label for="examiningDoctorName" class="form-label">Vizsgálatot végző orvos neve</label>
                <input type="text" class="form-control" id="examiningDoctorName" name="examiningDoctorName"
                    formControlName="examiningDoctorName">
            </div>
            <div class="mb-3">
                <label for="isDirectedBloodDonation" class="form-label">Irányított véradás?</label>
                <select name="isDirectedBloodDonation" id="isDirectedBloodDonation" class="form-select"
                    formControlName="isDirectedBloodDonation" [(ngModel)]="inputIsDirectedBloodDonation">
                    <option value="igen">Igen</option>
                    <option value="nem">Nem</option>
                </select>
                <div class="mb-3" *ngIf="inputIsDirectedBloodDonation === 'igen'">
                    <label for="patientFullName">Beteg teljes neve</label>
                    <input type="text" class="form-control" id="patientFullName" name="patientFullName"
                        formControlName="patientFullName">
                    <label for="patientTAJnumber">Beteg TAJ száma</label>
                    <input type="text" class="form-control" id="patientTAJnumber" name="patientTAJnumber"
                        formControlName="patientTAJnumber">
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary" (click)="saveBloodDonationForm()">Mentés</button>
            </div>
        </form>
    </div>
</div>